.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__nav {
  margin-left: 94px;
}
.header__nav-list {
  display: flex;
  gap: 50px;
  flex-direction: row;
  list-style-type: none;
}
.header__nav-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17em;
  color: #212121;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #2196f3;
}
.header__nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  margin-top: 4px;
  bottom: -32px;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover::after, .header__nav-link:focus::after, .header__nav-link.active::after {
  transform: scaleX(1);
  color: #2196f3;
}
.header__nav-link.active.hover-out::after {
  transform: scaleX(0);
  color: #212121;
}
.header__nav-link.active.hover-out {
  color: #212121;
}
.header__contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style-type: none;
  flex-direction: row;
  margin-left: auto;
}
.header__contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover, .header__contact-link:focus {
  color: #2196f3;
}
.header__contact-link:hover svg, .header__contact-link:focus svg {
  color: #2196f3;
}
.header__menu-btn {
  display: none;
}
.header .mob-menu {
  display: none;
}

@media (max-width: 768px) {
  .header .container {
    flex-wrap: wrap;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header__nav {
    margin-left: 88px;
  }
  .header__nav-list {
    gap: 50px;
  }
  .header__contact-list {
    margin-left: auto;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
  .header__contact-link {
    font-size: 12px;
  }
  .header__menu-btn {
    display: none;
  }
  .header .mob-menu {
    display: none;
  }
}
@media (max-width: 480px) {
  .header .header__nav,
  .header .header__contact-list {
    display: none;
  }
  .header .header__menu-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    margin-left: auto;
  }
  .header .mob-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 48px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .header .mob-menu.active {
    display: block;
  }
  .header .mob-menu__close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  .header .mob-menu__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .header .mob-menu__nav {
    margin-bottom: 306px;
  }
  .header .mob-menu__link {
    color: black;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.02em;
  }
  .header .mob-menu__link:hover, .header .mob-menu__link:focus {
    color: #007BFF;
  }
  .header .mob-menu__contacts {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
  }
  .header .mob-menu__contact-link {
    color: #757575;
    font-size: 24px;
    letter-spacing: 0.02em;
    font-weight: 500;
  }
  .header .mob-menu__contact-link:hover, .header .mob-menu__contact-link:focus {
    color: #2196f3;
  }
  .header .mob-menu__contact-item .tel {
    font-size: 34px;
    color: #2196f3;
  }
  .header .mob-menu__socials {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .header .mob-menu__socials + .header .mob-menu__socials::before {
    content: "|";
    color: #757575;
    opacity: 20%;
    font-size: 22px;
    margin-right: 15px;
    text-align: center;
    width: 0;
    line-height: 1;
  }
  .header .mob-menu__social-link {
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22em;
    letter-spacing: 0.02em;
  }
}
.hero {
  background-image: url("../images/bgteam.jpg");
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 200px 0;
}
.hero__text {
  margin-bottom: 30px;
  max-width: 700px;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36em;
}
.hero__button {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.9em;
  font-family: inherit;
  padding: 10px 20px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.open {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #afb1b8;
  padding: 9px;
  background-color: #ffffff;
  border: 1px solid;
  max-height: 30px;
  max-width: 30px;
  border-radius: 50%;
}
.open svg {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.open:hover, .open:focus {
  cursor: pointer;
}
.open:hover svg, .open:focus svg {
  color: #2196f3;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .hero {
    background-size: cover;
    padding: 118px 0;
  }
  .hero__text {
    width: 360px;
    font-size: 26px;
    line-height: 1.4em;
    margin-bottom: 30px;
    max-width: 100%;
  }
  .open {
    top: 12px;
    right: 12px;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  width: 528px;
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.5s ease-out;
  bottom: 0;
}
.modal-content h2 {
  color: #212121;
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
}
.modal-content p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}
.modal-content input[type=text],
.modal-content input[type=email],
.modal-content textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content input[type=text]:focus-within, .modal-content input[type=text]:hover,
.modal-content input[type=email]:focus-within,
.modal-content input[type=email]:hover,
.modal-content textarea:focus-within,
.modal-content textarea:hover {
  border-color: #2196f3;
  outline: none;
}
.modal-content input[type=text],
.modal-content input[type=email] {
  padding-left: 35px;
}
.modal-content textarea {
  height: 96px;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
}

.name-group,
.phone-group,
.mail-group {
  position: relative;
  margin-bottom: 10px;
}
.name-group svg,
.phone-group svg,
.mail-group svg {
  position: absolute;
  top: 63%;
  left: 12px;
  transform: translateY(-50%);
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name-group:focus-within svg,
.phone-group:focus-within svg,
.mail-group:focus-within svg {
  color: #2196f3;
}
.name-group label,
.phone-group label,
.mail-group label {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  display: flex;
  margin-bottom: 4px;
}

.form-group {
  margin-bottom: 20px;
}
.form-group label {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  display: flex;
  margin-bottom: 4px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 12px;
}
.custom-checkbox input[type=checkbox] {
  display: none;
}
.custom-checkbox .checkbox-box {
  width: 20px;
  height: 20px;
  border: 1px solid #757575;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-checkbox .checkbox-box::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s;
}
.custom-checkbox input[type=checkbox]:checked + .checkbox-box {
  background-color: #2196f3;
  border-color: #2196f3;
}
.custom-checkbox input[type=checkbox]:checked + .checkbox-box::after {
  opacity: 1;
}
.custom-checkbox .checkbox-label {
  margin-left: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.7em;
  color: #757575;
  text-align: left;
  display: flex;
}
.custom-checkbox .checkbox-label a {
  color: #2196f3;
}

.send-button {
  padding: 10px 52px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.8em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover, .send-button:focus {
  background-color: #188ce8;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 480px) {
  .modal-content {
    width: 450px;
  }
  .modal-content h2 {
    font-size: 20px;
  }
  .custom-checkbox .checkbox-label {
    font-size: 12px;
  }
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: #ffffff;
  justify-content: center;
}
.features__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.features__item {
  max-width: 270px;
}
.features__icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.features__title {
  color: #212121;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17em;
  margin-bottom: 10px;
}
.features__text {
  color: #757575;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.7em;
}

@media (max-width: 768px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .features__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
  }
  .features__item {
    max-width: 100%;
  }
  .features__icon {
    padding: 25px 142px;
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .features__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-content: center;
  }
  .features__item {
    max-width: 100%;
  }
  .features__icon {
    padding: 25px 190px;
    margin-bottom: 30px;
  }
}
.work {
  padding-bottom: 94px;
  text-align: center;
  background-color: #ffffff;
  justify-content: center;
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17em;
  margin-bottom: 50px;
}
.work__list {
  list-style: none;
  display: flex;
  gap: 30px;
}
.work__item {
  position: relative;
}
.work__overlay {
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.work__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17em;
}

@media (max-width: 768px) {
  .work {
    display: none;
  }
}
.team {
  padding: 94px 0;
  text-align: center;
  background-color: #f5f4fa;
  justify-content: center;
}
.team__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17em;
}
.team__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 30px;
}
.team__member {
  background-color: #ffffff;
  width: 270px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 1px 3px rgba(0, 0, 0, 0.12);
}
.team__info {
  padding: 30px;
}
.team__name {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.17em;
  margin-bottom: 10px;
}
.team__role {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.17em;
  margin-bottom: 16px;
}
.team__socials {
  display: flex;
  justify-content: center;
  max-height: 44px;
  list-style: none;
  gap: 10px;
}
.team__socials svg {
  color: #afb1b8;
}
.team__social-item {
  padding: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-item:hover, .team__social-item:focus {
  background-color: #2196f3;
}
.team__social-item:hover svg, .team__social-item:focus svg {
  color: #ffffff;
}

@media (max-width: 768px) {
  .team {
    padding: 60px 0;
  }
  .team__title {
    font-size: 28px;
  }
  .team__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .team__member {
    width: 100%;
  }
  .team__member img {
    width: 100%;
    height: 374px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px;
  }
}
@media (max-width: 480px) {
  .team__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .team__member {
    width: 100%;
  }
  .team__member img {
    width: 100%;
    height: 460px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px;
  }
}
.customer {
  text-align: center;
  padding: 94px 0;
}
.customer__text {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17em;
}
.customer__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
.customer__list-item {
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid;
  max-height: 92px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__list-item svg {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__list-item:hover, .customer__list-item:focus {
  color: #2196f3;
}
.customer__list-item:hover svg, .customer__list-item:focus svg {
  color: #2196f3;
}

@media (max-width: 768px) {
  .customer {
    padding: 60px 0;
  }
  .customer__text {
    font-size: 28px;
  }
  .customer__list {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .customer__list {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    justify-content: center;
  }
}
.portfolio {
  padding-top: 94px;
}
.portfolio__filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.6em;
  list-style: none;
}
.portfolio__filter-button {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.6em;
  background-color: #f5f4fa;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-button:hover, .portfolio__filter-button:focus {
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08), 0 3px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .portfolio {
    padding-top: 60px;
  }
}
@media (max-width: 480px) {
  .portfolio {
    padding-top: 60px;
  }
  .portfolio__filter {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.portfolio {
  padding-bottom: 94px;
}
.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  list-style: none;
}
.portfolio__item {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  max-width: 370px;
  position: relative;
  overflow: hidden;
  padding: 0;
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover .portfolio__overlay, .portfolio__item:focus .portfolio__overlay {
  transform: translateY(0);
  opacity: 1;
}
.portfolio__overlay {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 294px;
  background-color: rgba(0, 123, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  padding: 64px 24px;
  box-sizing: border-box;
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__overlay-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5em;
  padding: 0 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
.portfolio__info {
  padding: 24px 0;
}
.portfolio__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  padding: 0 20px;
  letter-spacing: 0.06em;
  line-height: 2em;
  margin-bottom: 10px;
}
.portfolio__type {
  color: #757575;
  font-size: 16px;
  padding: 0 20px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.9em;
}
.portfolio__image {
  width: 100%;
}

.image-overlay {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-overlay:hover, .image-overlay:focus {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
  .portfolio {
    padding-bottom: 60px;
  }
  .portfolio__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-content: center;
  }
  .portfolio__item {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .portfolio__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-content: center;
  }
  .portfolio__item {
    max-width: 100%;
  }
}
.footer {
  background-color: #2f303a;
  text-align: left;
  padding: 60px 0;
}
.footer .container {
  display: flex;
  gap: 100px;
}
.footer__address {
  padding-top: 28px;
}
.footer__address-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.14em;
  margin-bottom: 12px;
  font-style: normal;
}
.footer__info {
  color: #ffffff;
  font-size: 14px;
  list-style-type: none;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.14em;
  font-style: normal;
}
.footer__info-item:not(:last-child) {
  margin-bottom: 12px;
}
.footer__info-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__info-link:hover, .footer__info-link:focus {
  color: #2196f3;
}
.footer__media {
  margin: 0;
}
.footer__media-text {
  padding-top: 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17em;
  margin-bottom: 20px;
}
.footer__media-list {
  list-style-type: none;
  justify-content: center;
  display: flex;
  max-height: 44px;
  gap: 10px;
}
.footer__media-list svg {
  color: #ffffff;
}
.footer__media-item {
  padding: 12px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__media-item:hover, .footer__media-item:focus {
  background-color: #2196f3;
}
.footer__subscribe {
  width: 100%;
}
.footer__subscribe-form {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__subscribe-form input[type=email] {
  flex-grow: 1;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.4em;
  padding: 13px 16px;
  border: 1px solid;
  color: #757575;
  background-color: #2f303a;
  border-radius: 4px;
}
.footer__subscribe-text {
  padding-top: 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14em;
  margin-bottom: 20px;
}
.footer__sub {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.8em;
  background-color: #2196f3;
  border-radius: 4px;
  border: 0;
  padding: 10px 25px;
  gap: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__sub:hover, .footer__sub:focus {
  background-color: #188ce8;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__subscribe {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__subscribe-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__subscribe-form input[type=email] {
    width: 80%;
    font-size: 16px;
    padding: 13px 16px;
    border: 1px solid;
    border-radius: 4px;
  }
  .footer__subscribe-text {
    padding-top: 0;
    font-size: 14px;
    color: #ffffff;
  }
  .footer__subscribe__sub {
    margin-top: 15px;
  }
  .footer__media-text {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer .container {
    flex-direction: column;
    gap: 20px;
  }
  .footer__media, .footer__address {
    text-align: center;
  }
  .footer__subscribe {
    text-align: center;
    margin-top: 20px;
  }
  .footer .footer__container, .footer .footer__media {
    display: flex;
    flex-direction: column;
  }
  .footer .footer__media-list {
    justify-content: center;
    gap: 10px;
  }
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
a,
svg,
h2,
h3,
p {
  margin: 0;
}

h2 {
  margin-bottom: 50px;
}

body {
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */