.footer {
    background-color: $dark-blue-gray;
    text-align: left;
    padding: 60px 0;

    .container {
        display: flex;
        gap: 100px;
    }

    &__address {
        padding-top: 28px;
    }

    &__address-text {
        color: $white;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 1.14em;
        margin-bottom: 12px;
        font-style: normal;
    }

    &__info {
        color: $white;
        font-size: 14px;
        list-style-type: none;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 1.14em;
        font-style: normal;

        &-item:not(:last-child) {
            margin-bottom: 12px;
        }

        &-link {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.6);
            transition: color $transition;

            &:hover,
            &:focus {
                color: $blue;
            }
        }
    }

    &__media {
        margin: 0;

        &-text {
            padding-top: 15px;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.03em;
            line-height: 1.17em;
            margin-bottom: 20px;
        }

        &-list {
            list-style-type: none;
            justify-content: center;
            display: flex;
            max-height: 44px;
            gap: 10px;

            svg {
                color: $white;
            }
        }

        &-item {
            padding: 12px;
            border-radius: 100%;
            background-color: rgba(255, 255, 255, 0.1);
            transition: color $transition, background-color $transition;

            &:hover,
            &:focus {
                background-color: $blue;
            }
        }
    }

    &__subscribe {
        width: 100%;
        &-form {
            display: flex;
            align-items: center;
            gap: 10px;
            

            input[type="email"] {
                flex-grow: 1;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.03em;
                line-height: 1.4em;
                padding: 13px 16px;
                border: 1px solid;
                color: $medium-gray;
                background-color: $dark-blue-gray;
                border-radius: 4px;
            }
        }

        &-text {
            padding-top: 15px;
            color: $white;
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.03em;
            line-height: 1.14em;
            margin-bottom: 20px;
        }

        
        
    }

    &__sub {
        color: $white;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.06em;
        line-height: 1.8em;
        background-color: $blue;
        border-radius: 4px;
        border: 0;
        padding: 10px 25px;
        gap: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: $transition;

        &:hover,
        &:focus {
            background-color: $bright-blue;
        }
    }
}








@media (max-width: 768px) {
    .footer {
        text-align: center;
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 60px;
            column-gap: 165px;
        }

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        &__subscribe {
            width: 450px; 
            display: flex;
            flex-direction: column; // Вертикальне вирівнювання
            align-items: center; // Центруємо по горизонталі
            text-align: center; // Центруємо текст всередині
            &-form {
                width: 100%; // Форму адаптуємо до ширини
                display: flex;
                flex-direction: column; // Вертикальне розташування елементів
                align-items: center; // Центруємо по горизонталі

                input[type="email"] {
                    width: 80%; // Зменшуємо ширину інпуту на мобільних
                    font-size: 16px;
                    padding: 13px 16px;
                    border: 1px solid;
                    border-radius: 4px;
                }
            }

            &-text {
                padding-top: 0;
                font-size: 14px;
                color: $white;
            }

            &__sub {
                margin-top: 15px; // Відступ для кнопки
            }
        }

        &__media {
            &-text {
                display: flex;
                justify-content: center;
            }
        }
    }
}





@media (max-width: 480px) {
    .footer {
        .container {
            flex-direction: column;  // Встановлюємо колоночне вирівнювання
            gap: 20px;  // Зменшуємо відстань між елементами
        }

        &__media,
        &__address {
            text-align: center;  // Центруємо контент в кожному з блоків
        }

        &__subscribe {
            text-align: center;
            margin-top: 20px;  // Відступ зверху
        }

        .footer__container, .footer__media {
            display: flex;
            flex-direction: column; // 2 на 1
        }

        .footer__media-list {
            justify-content: center;
            gap: 10px;
        }
    }
}