$white:#ffffff;
$very-light-gray:#f5f4fa;
$dark-gray:#212121;
$medium-gray:#757575;
$blue:#2196f3;
$dark-blue-gray:#2f303a;
$bright-blue:#188ce8;
$light-gray:#ececec;
$pale-gray:#eeeeee;
$soft-gray:#f5f4fa;
$light-bluish-gray:#afb1b8;
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);