.team {
    padding: 94px 0;
    text-align: center;
    background-color: var(--very-light-gray);
    justify-content: center;

    &__title {
        margin-bottom: 50px;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.17em;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
        gap: 30px;
    }

    &__member {
        background-color: var(--white);
        width: 270px;
        text-align: center;
        border-radius: 4px;
        box-shadow: 
            0 2px 1px rgba(0, 0, 0, 0.2),
            0 1px 1px rgba(0, 0, 0, 0.14),
            0 1px 3px rgba(0, 0, 0, 0.12);
    }

    &__info {
        padding: 30px;
    }

    &__name {
        color: var(--dark-gray);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.03em;
        line-height: 1.17em;
        margin-bottom: 10px;
    }

    &__role {
        color: var(--medium-gray);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.03em;
        line-height: 1.17em;
        margin-bottom: 16px;
    }

    &__socials {
        display: flex;
        justify-content: center;
        max-height: 44px;
        list-style: none;
        gap: 10px;

        svg {
            color: var(--light-bluish-gray);
        }
    }

    &__social-item {
        padding: 12px;
        border-radius: 50%;
        background-color: var(--white);
        transition: color var(--transition), background-color var(--transition);

        &:hover,
        &:focus {
            background-color: var(--blue);

            svg {
                color: var(--white);
            }
        }
    }
}
